<app-header></app-header>
<mat-radio-group [(ngModel)]="selectedValue">
    <mat-radio-button [value]="0">Choose to view status of existing request</mat-radio-button>
    <mat-radio-button [value]="1">Choose to file a new request</mat-radio-button>
  </mat-radio-group>
  
<div *ngIf="selectedValue === 0">
  <form [formGroup]="clientname" (ngSubmit)="nameSubmit()" action="/healthcaredisplay" method="post">
    <label for="clientname1">Enter name of patient:</label>
    <input type="text" id="clientname1" formControlName="name1" required>
    <input type="submit" value="Submit" [disabled]="!clientname.valid">
    <div class="image-preview" *ngIf="dataloaded == true"> <!--*ngIf="returnedinfo.filepath"-->
      <h1>You are in image preview.</h1>
      <h1>{{returnedinfo.name}}</h1>
      <img src="{{returnedinfo.filepath}}" alt="Identity file image"/>
      <img src="Clientimages\images\screenshot_(12).png">
    </div>
  </form>
</div>
<div *ngIf="selectedValue === 1">
  <form [formGroup]="clientinfo" (ngSubmit)="newClient()" action="/healthcarenew" method="post" enctype="multipart/form-data">
    <label for="clientName2">Enter name of patient:</label>
    <input type="text" id="clientName2" formControlName="name2" required>
    <!-- <label for="identifyfile">Upload file for identity confirmation(Image)</label>
    <input type="file" id="identifyfile" formControlName="file1" required (change)="PickedFile($event)"> -->
    <button mat-stroked-button type="button" (click)="filepicker.click()">
      Upload file for identity confirmation(Image)
    </button>
    <input type="file" #filepicker (change)="PickedFile($event)" name="file">
    <input type="submit" value="submit" [disabled]="!clientinfo.valid"> 
  </form>
</div>
