<div class="signin-content">

    <mat-card>
        <mat-card-content>
            <p style="font-size: 25px; margin:20px 0px">Login</p>
            <p *ngIf="result === 0" style="font-weight: 600;">Enter valid user id and password</p>
            <form [formGroup]="loginInfo" (ngSubmit)="onSubmit()" method="post" action="/">
                <mat-form-field appearance="fill">
                    <mat-label>User ID</mat-label>
                    <input matInput formControlName="userID" name="username" required>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Select user access</mat-label>
                    <mat-select formControlName="access" (selectionChange)="selected($event)" required> <!--(selectionChange)="selected($event)"-->
                        <mat-option value="one">Healthcare</mat-option>
                        <mat-option value="two">Post Office</mat-option>
                        <mat-option value="three">Insurance Company</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Password </mat-label>
                    <input matInput type="password" formControlName="password" name="password">
                </mat-form-field><br>
                <mat-form-field appearance="fill" *ngIf="access == 'three'">
                    <mat-label>Insurance Agency </mat-label>
                    <input matInput type="text" formControlName="insuranceco" name="insuranceco" required>
                </mat-form-field><br>
                <button mat-raised-button color="primary" type="submit" style="margin-bottom:20px" [disabled]="!loginInfo.valid">Login</button>
            </form>
        </mat-card-content>
    </mat-card>
</div>
